:root {
    --main-bg-color: rgb(248, 242, 245);
    --status-bg-color: #db4382;
  }

#logo{
}

body{
    background-color: var(--main-bg-color);
}


#total-orders{
    background-color: var(--status-bg-color);
}


#orders-delivered{
    background-color: var(--status-bg-color);
}

#orders-pending{
    background-color: var(--status-bg-color);
}
