{% extends 'user_accounts/main.html'%}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md6">
        <div class="card card-body">
            <p>Are you sure you want to delete {{item}}</p>

            <form action="{% url 'delete_order' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-danger btn-sm" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-success btn-sm" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>



{% endblock %}